@media (min-width: 641px) and (max-width: 1024px) {
    body {
        padding: 20px;
    }

    /* Target grid structure for tablet viewport */
    .attraction-card {
        grid-template-areas:
            "name name"
            "image description"
            "image address"
            "button button";
        gap: 15px;
    }
    .attraction-card img{
        transition: transform 0.5s ease, filter 0.5s ease;
        filter: brightness(85%) saturate(90%);
    }
    .attraction-card img:hover{
        filter: brightness(100%) saturate(140%);
        transform: scale(1.03);
    }
}
