*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', serif;
}

header{
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 0 5px 10px;
    gap: 5px;
    border: 1px solid #000;
    align-items: end;
}
header img{
    display: block;
    width: 100%;
    height: auto;
}
header span{
    font-size: 1.2rem;
    font-weight: bold;
    color: #000;
}
nav{
    display: none;
}
.hamburger{
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}
.directory-intro{
    padding: 20px;
    text-align: center;
}
.menu{
    text-align: center;
    padding: 5px;
    background-color:;
}